h1 {
    text-align: center;
}

fieldset {
    margin-bottom: 10px;
    margin-top: 10px;
    opacity: 1;
    background-color: rgb(100, 100, 100);
}

body {
    background-image: url(godlo.jpg);
    background-blend-mode: multiply;
    background-color: rgba(100, 100, 100, 0.99);
    color: white;
    font-family: arial;
    max-width: 900px;
    min-width: 700px;
    margin: 10px auto;
}

form div {
    margin-bottom: 1em;
    margin-top: 1em;
}

.margin-bottom {
    margin-bottom: 0;
}

.margin-top {
    margin-top: 0;
}

label.field {
    display: block;
    float: left;
    margin-right: 15px;
    width: 200px;
    text-align: right;
}

input {
    width: 300px;
}

p {
    margin-top: 40px;
    padding-left: 20px;
    border-bottom: 1px solid;
}

p.zwykly {
    margin-top: 10px;
    padding-left: 200px;
    border-bottom: none;

}

input[type=radio] {
    width: 13px;
    text-align: left;
    margin-left: 0;
}

input.next {
    margin-left: 215px;
}

.data input {
    width: 110px;
}

.ramka {
    border: 1px solid red;
}

.info {
    margin-left: 220px;
    font-size: 14px;
    text-align: right;
}

label.radio {
    margin-left: 235px;
}

input.last {
    margin-left: 20px;
    width: 700px
}

textarea {
    resize: none;
}

input[type=submit] {
    text-align: center;
    text-transform: uppercase;
    background-color: chartreuse;
    width: 150px;
    height: 60px;
    margin: 30px 0 30px 350px;

    font-weight: 800;
    border: none;
    letter-spacing: 2px;
}

input[type=submit]:hover {
    width: 160px;
    height: 70px;
    margin: 25px 0 25px 345px;
    background-color: red;
    font-size: 20px;


}
